.navBar {
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 15px;
}

.link {
    text-decoration: none;
    color: #5f656c95;
}

.link:hover {
    color: #4D4D4D;
    text-decoration-line: underline;
}

.current_link {
    color: #4D4D4D;
    text-decoration-line: underline;
}