.HostVans_container {
    width: 100%;
}

.title_container {
    width: 95%;
    margin: 2rem auto 0 auto;
}

.vans_list {
    width: 85%;
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.van {
    display: flex;
    gap: 1.5rem;
}

.image {
    width: 17vw;
}

.img {
    width: 100%;
    border-radius: 5px;
}

.van_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.link {
    text-decoration: none;
}

.van_info > h2 {
    color: #111;
}

.van_info > p {
    color: #4a4343;
}