.van_detail_container {
    width: 100%;
}

.img_container, .btn_container, .van_info {
    width: 95%;
    margin: 0 auto;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.btn {
    border: none;
    color: white;
    font-size: 1.1rem;
    padding: 0.5em 1.5em;
    border-radius: 5px;
}

.btn_container {
    margin: 1.5rem auto;
}

.van_info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.van_price {
    font-weight: 600;
    font-size: 1.4rem;
}

.text {
    font-weight: 300;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
}

.rent_btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #FF8C38;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.75em 0;
    color: white;
    transition: transform .1s ease-in-out;
    margin-bottom: 20px;
}

.rent_btn:hover {
    transform: translate(1px,1px);
}