.container {
    width: 100%;
}

.title {
    width: 95%;
    margin: 1.35rem auto 1.35rem auto;
    font-size: 2.7rem;
}

.vans__container {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

.van_info {
    margin: 0.5em 0;
    text-decoration: none;
}
.van_info > h2 {
    margin-bottom: 10px;
}

.img {
    border-radius: 10px;
    width: 100%;
    height: auto; 
}
.link {
    text-decoration: none;
    color: inherit;
    cursor:pointer;
}